* {
	margin: 0px;
	background-color: black;
	color: white;
	font-size: 113%;
	font-weight: bold;
}

#hourInput #minuteInput #secondInput {
	width: 40px;
}

#timerMsg {
	font-size: 250%;
	color: lightgreen;
}

#timerOutput {
	font-size: 250%;
}

#timerErrorMsg {
	color: red;
}

#addWord #learnWord {
	z-index: -1;
	position: absolute;
	top: 10%;
	height: 90%;
}

#settingDiv {
	width: 100%;
	height: 10%;
	position: absolute;
	top: 0px;
	font-size: 150%;
}

#questionDiv {
	height: 40%;
	width: 100%;
	float: left;
	position: absolute;
	top: 10%;
	display: block;
	font-size: 450%;
	text-align: center;
	overflow: scroll;
	z-index: 1;
}

#answerDiv {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 50%;
	display: block;
	clear: both;
	z-index: 2;
}

#reportDiv {
	width: 100%;
	height: 90%;
	position: absolute;
	bottom: 0px;
	font-size: 150%;
	overflow: scroll;
	z-index: 3;
}

#reportDiv thead th {
	position: sticky;
	top: 0px;
}

#reportTable {
	text-align: center;
}

#reportBt {
	float: right;
}

#saveMarks {
	margin-left: 7px;
	transform: scale(1.5);
}

.answerBt {
	width: 100%;
	height: 25%;
	text-align: left;
	padding: 20px;
	white-space: normal;
	font-size: 120%;
}




.show {
	display: block;
}

.hide {
	display: none;
}









/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: black;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: white;
}
